/* General Colors */
a {
    color: #ff533d
}


/* Top nav bar */
#top-navbar {
    height: 100px;
    background-color: #fff;
    border-bottom: 20px solid #f5f5f5;
    box-shadow: 0 5px 0 0 #0f1626;
}

#new_post_button {
    position: fixed;
    bottom: 20pt;
    right: 20pt;

}


#liked_posts {
    display:none;
}
.like-button {
    background: none;
    border: none;
}
.like-col{
    max-width: 3%;
}


.like-button {
    background: none;
    border: none;
    
}
.like-col{
    max-width: 3%;
}
a {
    text-decoration: none;
}


.button-30 {
align-items: center;
appearance: none;
background-color: #FCFCFD;
border-radius: 4px;
border-width: 0;
box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
box-sizing: border-box;
color: #36395A;
cursor: pointer;
display: inline-flex;
font-family: "JetBrains Mono",monospace;
height: 28px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
position: relative;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 10px;
}

.button-30:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

.button-30:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}


/* Columns Post */
.post-side-columns {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 10px 0px 10px 0px;
    margin-top: 3px;
    margin-bottom: 3px;
}




.wrap-text {
    word-wrap: break-word;
}